.link--btn{
    margin-top: 25px;
    font-size: 22px;
    color: #262626;
    text-decoration: none;
    padding: 30px 30px 30px 30px;
    border-radius: 50%;
    rotate: -20deg;
    width: fit-content;
    height: fit-content;
    animation: button 2s 1.5s infinite alternate ease-in;
    transition: 0.6s;
    border: #c327fa 2px solid;
}
.link--btn:hover{
    transform: scale(1.1);
    background-color: #c327fa;
    color: #FFFFFF;
}
.link{
    color: #262626;
    text-decoration: none;
}
.demo__link{
    margin: 0;
    justify-self: right;
}
@keyframes button {
    from{
        border: #c327fa 2px solid;
    } to{
        border: #ff5c00 2px solid;
    }
}
@media(min-width : 768px){
    .demo__link{
        margin-right: 50px;
    }
}
