.header{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    &__title{
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    &__disc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -35%;
        max-width: 315px;
    }
    &__p{
        margin: 0;
    }
}
.title__span{
    display: flex;
    align-items: flex-start;
}
.title__grid{
    max-width: 315px;
    &--one{
        transform: translateX(-100px);
        opacity: 0;
    }
    &--two{
        transform: translateX(100px);
        opacity: 0;
        background-image: url(../images/kid_header.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
    &--three{
        transform: translateX(100px);
        opacity: 0;
        padding-right: 90px;
        background-image: url(../images/carre_vert.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
    &--four{
        transform: translateX(-100px);
        opacity: 0;
    }
    &--five{
        transform: translateX(100px);
        padding-left: 90px;
        background-image: url(../images/carre_orange.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: left;
    }
    &--six{
        transform: translateX(-100px);
        opacity: 0;
        width: 80%;
        background-image: url(../images/carre_arc_cercle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
}
.footer{
    background-color: #f5f5f5;
    border-top-left-radius: 140px;
}
.list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 0 5vw 0 5vw;
    max-width: 337px;
    &--second{
        margin-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: left;
    }
}
.list__el{
    margin-bottom: 20px;
}
@media(min-width : 767px){
    .header{
        &__disc{
            width: 700px;
            max-width: 700px;
            bottom: -25%;
        }
        &__title{
            top: 13%;
        }
    }
    .title__grid{
        width: 700px;
        max-width: 700px;
        &--one{
            background-image: url(../images/carre_orange.svg);
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 18%;
        }
        &--two{
            background-position-x: 127%;
            text-align: center;
            margin: 0 2% 0 9%;
        }
        &--three{
            background-position-x: 85%;
        }
        &--five{
            background: none;
            padding-left: 160px;
        }
        &--seven{
            transform: translateX(100px);
            opacity: 0;
            width: 90%;
            background-image: url(../images/carre_arc_cercle.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: 93%;
            padding-right: 15%;
            text-align: left;
        }
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .list{
        margin: 200px 25px 0 25px;
        padding-bottom: 100px;
    }
}
@media(min-width : 1000px){
    .header{
        &__title{
            justify-items: center;
        }
        &__disc{
            width: 907px;
            max-width: 907px; 
        }
    }
    .title__three--var{
        text-align: right;
        margin-left: 34%;
    }
    .title__grid{
        width: 907px;
        max-width: 907px;
        &--one{
            padding: 0;
            background-position-x: 101%;
            padding-right: 11%;
            margin-right: 21%;
        }
        &--two{
            margin: 0;
            background: none;
            margin-left: 60%;
        }
        &--three{
            width: 100%;
            background-image: url(../images/carre_vert.svg), url(../images/kid_header.png);
            background-position-x: 0%;
            background-position: right, -21%;
            padding: 0;
            text-align: center;
        }
        &--four{
            background-image: url(../images/carre_jaune.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: -4%;
            margin-left: 4%;
        }
        &--seven{
            text-align: center;
            padding: 0;
            background-position-x: 101%;
        }
    }
}
@media(min-width : 1440px){
    .header{
        &__title{
            top: 8%;
        }
        &__disc{
            width: 1200px;
            max-width: 1200px;
            bottom: -20%;
        }
    }
    .title__span{
        padding-left: 14%;
    }
    .title__three--var{
        text-align: right;
        margin-left: 34%;
    }
    .title__grid{
        min-width: 1200px;
        max-width: 1200px;
        &--one{
            background-position-x: 89%;
        }
        &--two{
            margin-left: 46%;
        }
        &--three{
            background-position: 94%, 10%;
        }
        &--four{
            background-position-x: 7%;
        }
        &--seven{
            background-position-x: 89%;
        }
    }
    .list{
        margin: 200px 25px 0 25px;
        padding-bottom: 100px;
    }
}