.header{
    height: 100vh;
    width: 100vw;
    &__title{
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    &__disc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    &__p{
        margin: 0;
    }
}
.title__grid{
    &--two{
        background-image: url(../images/kid_header.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
    &--three{
        padding-right: 90px;
        background-image: url(../images/carre_vert.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
    &--five{
        padding-left: 90px;
        background-image: url(../images/carre_orange.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: left;
    }
    &--six{
        width: 80%;
        background-image: url(../images/carre_arc_cercle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
    &--six::after{
        content: '';
        position: absolute;
        background-color: #c327fa;
        margin-top: 35px;
        left: 6%;
        height: 15px;
        width: 185px;
        z-index: -10;
    }
}
.footer{
    background-color: #f5f5f5;
    border-top-left-radius: 140px;
}
.list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 0 5vw 0 5vw;
    max-width: 337px;
    &--second{
        margin-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: left;
    }
}
.list__el{
    margin-bottom: 20px;
}
@media(min-width : 767px){
    .header{
        &__disc{
            margin-top: 25px;
        }
        &__title{
            top: 13%;
        }
    }
    .title__grid{
        max-width: 680px;
        &--one{
            background-image: url(../images/carre_orange.svg);
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 18%;
        }
        &--two{
            background-position-x: 160%;
            text-align: center;
            margin: 0 2% 0 9%;
        }
        &--three{
            background-position-x: 85%;
        }
        &--five{
            background: none;
            padding-left: 160px;
        }
        &--seven{
            width: 90%;
            background-image: url(../images/carre_arc_cercle.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: 93%;
            padding-right: 15%;
            text-align: left;
        }
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .list{
        margin: 200px 25px 0 25px;
        padding-bottom: 100px;
    }
}
@media(min-width : 1000px){
    .header{
        padding-bottom: 20vh;
    }
    .title__grid{
        &--one{
            padding-left: 30%;
            background-position-x: 22%;
        }
        &--two{
            background-position-x: 60%;
            margin-left: 15%;
        }
        &--three{
            background-position-x: 75%;
        }
        &--seven{
            text-align: center;
            background-position-x: 85%;
        }
    }
}
@media(min-width : 1440px){
    .header{
        padding: 0;
        &__title{
            top: 6%;
        }
    }
    .title__three--var{
        text-align: right;
        margin-left: 34%;
    }
    .title__grid{
        &--one{
            padding: 0;
            background-position-x: 89%;
            padding-right: 11%;
            margin-right: 21%;
        }
        &--two{
            margin: 0;
            background: none;
            margin-left: 46%;
        }
        &--three{
            width: 100%;
            background-image: url(../images/carre_vert.svg), url(../images/kid_header.png);
            background-position-x: 0%;
            background-position: right, left;
            padding: 0;
            text-align: center;
        }
        &--four{
            background-image: url(../images/carre_jaune.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: 7%;
        }
        &--seven{
            background-position-x: 80%;
        }
    }
    .list{
        margin: 200px 25px 0 25px;
        padding-bottom: 100px;
    }
}
@media(min-width : 1600px){
    .header{
        padding-bottom: 20vh;
    }
}